<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="SuroboyoMaju.SuroboyoMaju" android:versionCode="1" android:versionName="1.0" android:installLocation="auto">
	<permission android:name="SuroboyoMaju.permission.C2D_MESSAGE" android:protectionLevel="signature" />
	<uses-permission android:name="SuroboyoMaju.permission.C2D_MESSAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<application android:label="SuroboyoMaju">
		<receiver android:name="com.onesignal.GcmBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE" />
				<category android:name="SuroboyoMaju" />
			</intent-filter>
		</receiver>
	</application>
</manifest>